<app-header titulo="refresher"></app-header>
<ion-content class="ion-padding">
    <ion-refresher
        slot="fixed"
        (ionRefresh)="doRefresh($event)"
        pullFactor="0.8"
        pullMin="60"
        pullMax="120"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item
            *ngFor="let item of item; let i = index"
            class="animate__animated animate__fadeInRight"
        >
            <ion-label>Item: {{i+1}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
